extends layout
   
block content
    h1 Fichas guardadas en local
    #container.row
        each personaje in personajes
            .col-md-2.mb-4
                .card(style='width: 100%;')
                    img.card-img-top(src=personaje.image alt='...')
                    .card-body
                        h4 ##{personaje.id} #{personaje.name}
                        p #{personaje.gender}
                        p #{personaje.created}
                        form(action=`/seq/${personaje.id}`, method="delete")
                            button.btn.btn-danger(type="submit") Eliminar